<strong>Mike P. Sinn</strong><br/>
Freelance Developer & QuantiModo Framework Maintainer<br/>
Email: {% include "contact-email.njk" %}<br/>
{% include "github-link.njk" %}: <a href="https://github.com/decentralized-fda" target="_blank">github.com/decentralized-fda</a>