<div data-w-id="02a9cbfc-6a32-8385-b637-760a1ee4ec04" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    <div bind="ec1e0141-9957-8ed3-9488-cbb60841ea15" data-w-id="ec1e0141-9957-8ed3-9488-cbb60841ea15" class="card author">
        <a bind="ad4946d9-c53b-e946-a2e7-879b64a74efc" href="../team/mike-p-sinn.html" class="image-wrapper card-author w-inline-block">
            <img alt="" loading="eager" bind="f620cf9f-d030-ae2e-925e-25bb02bf5b56" src="https://cdn.prod.website-files.com/61f4b7c99c4bc07ab2eb5cc0/65d5860d9dcec77988a9cb7d_mike-kid-slide-smiling-avatar-head.png" class="image card-author"/>
        </a>
        <div class="card-author-content">
            <div class="content-top card-author">
                <a bind="06ce28c8-3e7b-1989-852e-df965670896b" href="../team/mike-p-sinn.html" class="card-author-name-wrapper w-inline-block">
                    <h3 bind="2069b4bd-9ac0-31a5-f64e-66df593df912" class="title card-author-name">Mike P. Sinn</h3>
                    <div bind="15aaa2cb-8ec8-76ee-7973-5d6bc51c7e93" class="card-author-rol">Development Lab</div>
                </a>
                <div class="social-media-wrapper">
                    <a href="https://www.facebook.com/mikepsinn" bind="9632bc98-f0a3-6fdd-96da-b2899a9ed6c7" class="social-media-link"></a>
                    <a href="https://github.com/mikepsinn" bind="a0e852a4-8ef8-3176-583f-359ceae3b7da" class="social-media-link">G</a>
                    <a bind="310c782e-c36e-cf6f-ed73-80422b5e0ea2" href="https://www.linkedin.com/in/mikesinn" class="social-media-link icon-size-13px"></a>
                    <a bind="4470c0d5-837a-33e4-93b7-ee26630cf81a" href="https://twitter.com/thinkbynumbers" target="_blank" class="social-media-link icon-size-14px"></a>
                </div>
            </div>
            <p bind="2ee37e68-b512-73a4-46d8-2426967f7198" class="paragraph card-author">My cat&#x27;s breath smells like catfood.</p>
        </div>
    </div>
</div>
