<body class="bg-neutral-800"><div style="opacity:0" class="page-wrapper"><div data-animation="over-left" class="header w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" role="banner" data-duration="400">
<div class="container-default w-container">
    <div class="header-wrapper">
        <div class="split-content header-right">
            <a href="/index.html" class="brand w-nav-brand">
                <h1 class="heading">{{ siteName | default('QUANTIMODO') }}</h1>
            </a>
        </div>
        <div class="split-content header-center">
            <nav role="navigation" class="nav-menu w-nav-menu">
                <ul role="list" class="header-navigation w-list-unstyled">
                    <li class="nav-item-wrapper"><a href="/index.html" class="nav-link">Home</a></li>
                    <li class="nav-item-wrapper"><a href="/studies/" target="_blank" class="nav-link">Studies</a></li>
                    <li class="nav-item-wrapper"><a href="/developer-platform/" class="nav-link">Platform</a></li>
                    <li class="nav-item-wrapper"><a href="https://github.com/decentralized-fda" target="_blank" class="nav-link">GitHub</a></li>
                    <li class="nav-item-wrapper mobile-button">
                        <div class="button-primary-gradient header-button mobile-button">
                            <a href="/contact/" class="button-primary small-v2 mobile-button w-button">Contact</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="split-content header-left">
            <div class="button-primary-gradient header-button">
                <a href="/contact/" class="button-primary small-v2 w-button">Contact</a>
            </div>
            <div class="menu-button w-nav-button">
                <div class="header-menu-button-icon-wrapper">
                    <div class="icon-wrapper">
                        <div class="header-menu-button-icon-top"></div>
                        <div class="header-menu-button-icon-medium"></div>
                        <div class="header-menu-button-icon-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
