<div class="wp-block-columns alignwide is-layout-flex wp-container-core-columns-is-layout-8 wp-block-columns-is-layout-flex" style="margin-bottom:var(--wp--preset--spacing--70)">
<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:66.66%">
<div class="wp-block-group alignwide has-global-padding is-content-justification-left is-layout-constrained wp-container-core-group-is-layout-21 wp-block-group-is-layout-constrained" style="padding-bottom:var(--wp--preset--spacing--40)">
<h5 class="wp-block-heading" style="margin-bottom:0"> Personal </h5>



<h1 class="wp-block-heading has-colossal-font-size" style="margin-top:0">Studies</h1>



<p class="wp-block-heading has-lato-font-family has-small-font-size" style="font-style:normal;font-weight:400">For instance, when gluten-sensitive people eat delicious gluten, it usually takes about a 2-day onset delay before they start having symptoms. Then, when they stop eating it, there’s usually a 10-day duration of action before their gut heals and their symptoms improve. </p>
</div>