<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-22 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<h4 class="wp-block-heading">1. Trial Search</h4>



<p class="has-text-align-left">If you&#8217;re one of the inadequately treated 2 billion chronically ill and nothing else has worked for you, it should find you the most promising new treatment available.</p>
</div>