<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-container-core-column-is-layout-6 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<figure class="wp-block-image size-full"><img loading="lazy" decoding="async" width="1402" height="868" src="/fdai-homepage/images/autonomous-data-collection.gif" alt="" class="wp-image-392" style="object-fit:cover" /></figure>
</div>