<div class="wp-block-group alignwide has-base-color has-contrast-background-color has-text-color has-background has-global-padding is-layout-constrained wp-container-core-group-is-layout-11 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--40)">
<h2 class="wp-block-heading has-text-align-center alignwide">But imagine if we could automate clinical research!</h2>



<figure class="wp-block-image alignwide size-full"><img loading="lazy" decoding="async" width="1152" height="648" src="/fdai-homepage/images/black-box-model-animation2.gif" alt="" class="wp-image-358" /></figure>
</div>