{% include "fdai/here8217s-why.njk" %}

{% include "fdai/2-billion-people-are-suffering.njk" %}

{% include "fdai/since-the-19908217s-we8217ve-seen-a-continual-rise.njk" %}

{% include "fdai/80-of-clinical-trials-fail-due-to-insufficient-par.njk" %}

{% include "fdai/cloe-confused-awkward-gif-alt.njk" %}

{% include "fdai/but-imagine-if-we-could-automate-clinical-research.njk" %}

{% include "fdai/import-gif-alt.njk" %}

{% include "fdai/import-from-wearables-and-apps.njk" %}

{% include "fdai/browser-ai-agents.njk" %}

{% include "fdai/autonomous-data-collection-gif-alt.njk" %}

{% include "fdai/reminder-inbox-gif-alt.njk" %}

{% include "fdai/manual-data-collection.njk" %}

{% include "fdai/data-from-speech.njk" %}

{% include "fdai/frequency-analysis-300x225-gif-alt.njk" %}

{% include "fdai/food-scan-gif-alt.njk" %}

{% include "fdai/images-to-data.njk" %}

{% include "fdai/notifications.njk" %}

{% include "fdai/web-notification-curcumin-300x253-png-alt.njk" %}

{% include "fdai/2-automated-data-.njk" %}

{% include "fdai/wp-block-group-2.njk" %}

{% include "fdai/automated-causal-.njk" %}

{% include "fdai/wp-block-group-3.njk" %}

{% include "fdai/-personal-.njk" %}

{% include "fdai/gluten-study-png-alt.njk" %}

{% include "fdai/onset-delays.njk" %}

{% include "fdai/onset-delay-970x1024-png-alt.njk" %}

{% include "fdai/-discovering-.njk" %}

{% include "fdai/duration-of-action-1024x1024-png-alt.njk" %}

{% include "fdai/wp-block-media-text.njk" %}

{% include "fdai/3-effortless-trial-.njk" %}

{% include "fdai/through-automated.njk" %}

{% include "fdai/1-trial-search.njk" %}

{% include "fdai/2-trial-enrollment.njk" %}

{% include "fdai/autonomous-study-join-300x198-gif-alt.njk" %}

{% include "fdai/autonomous-lab-order-gif-alt.njk" %}

{% include "fdai/3-data-collection.njk" %}

{% include "fdai/4-data-analysis-and-publishing.njk" %}

{% include "fdai/clinipedia-study-pain-vitimin-b-gif-alt.njk" %}

{% include "fdai/citizen-science.njk" %}

{% include "fdai/create-study-1024x899-gif-alt.njk" %}

{% include "fdai/global-scale-studies.njk" %}

{% include "fdai/clinipedia-landing-gif-alt.njk" %}

{% include "fdai/mega-studies.njk" %}

{% include "fdai/clinipedia-inflammatory-pain-small-gif-alt.njk" %}

{% include "fdai/outcome-labels.njk" %}

{% include "fdai/outcome-labels-no-bg-png-alt.njk" %}

{% include "fdai/fdai-act-cta.njk" %}
