<div class="wp-block-group alignfull has-global-padding is-layout-constrained wp-block-group-is-layout-constrained" style="border-top-color:var(--wp--preset--color--contrast);border-top-width:1px;padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><div class="aligncenter wp-block-site-logo"><a href="https://fdai.earth/" class="custom-logo-link" rel="home" aria-current="page"><img loading="lazy" width="60" height="60" src="/fdai-homepage/images/fdai-square-icon.png%22 class="custom-logo" alt="FDAi" decoding="async" srcset="/fdai-homepage/images/fdai-square-icon.png 2000w, /fdai-homepage/images/fdai-square-icon-300x300.png 300w, /fdai-homepage/images/fdai-square-icon-1024x1024.png 1024w, /fdai-homepage/images/fdai-square-icon-150x150.png 150w, /fdai-homepage/images/fdai-square-icon-768x768.png 768w, /fdai-homepage/images/fdai-square-icon-1536x1536.png 1536w" sizes="(max-width: 60px) 100vw, 60px" /></a></div>