<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-10 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
<figure class="wp-block-image size-medium"><img loading="lazy" decoding="async" width="300" height="225" src="/fdai-homepage/images/frequency-analysis-300x225.gif%22 alt="" class="wp-image-416" style="object-fit:cover" srcset="/fdai-homepage/images/frequency-analysis-300x225.gif 300w, /fdai-homepage/images/frequency-analysis-768x576.gif 768w" sizes="(max-width: 300px) 100vw, 300px" /></figure>
</div>