<div class="wp-block-column is-vertically-aligned-top is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:33.33%">
<figure class="wp-block-image size-full has-custom-border"><img loading="lazy" decoding="async" width="377" height="675" src="/fdai-homepage/images/gluten-study.png" alt="" class="wp-image-431" style="border-radius:0px" srcset="/fdai-homepage/images/gluten-study.png 377w, /fdai-homepage/images/gluten-study-168x300.png 168w" sizes="(max-width: 377px) 100vw, 377px" /></figure>
</div>