<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-12 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<h4 class="wp-block-heading">Images to Data</h4>



<p>Patients should be able to easily record any symptom severities, foods, treatments, or anything in a simple reminder inbox.</p>
</div>