<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-4 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<h4 class="wp-block-heading">Import from Wearables and Apps</h4>



<p class="has-text-align-left">It should be effortless for patients to import their data from lots of apps and wearable devices like physical activity, sleep, environmental factors, and vital signs.</p>
</div>