<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
<figure class="wp-block-image aligncenter size-full has-custom-border size-large is-style-default"><img loading="lazy" decoding="async" width="1141" height="1011" src="/fdai-homepage/images/outcome-labels-no-bg.png" alt="" class="wp-image-516" style="border-style:none;border-width:0px;border-radius:0px" srcset="/fdai-homepage/images/outcome-labels-no-bg.png 1141w, /fdai-homepage/images/outcome-labels-no-bg-300x266.png 300w, /fdai-homepage/images/outcome-labels-no-bg-1024x907.png 1024w, /fdai-homepage/images/outcome-labels-no-bg-768x680.png 768w" sizes="(max-width: 1141px) 100vw, 1141px" /></figure>
</div>