<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-14 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
<figure class="wp-block-image size-medium"><img loading="lazy" decoding="async" width="300" height="253" src="/fdai-homepage/images/web-notification-curcumin-300x253.png" alt="" class="wp-image-414" style="object-fit:cover" srcset="/fdai-homepage/images/web-notification-curcumin-300x253.png 300w, /fdai-homepage/images/web-notification-curcumin.png 626w" sizes="(max-width: 300px) 100vw, 300px" /></figure>
</div>