<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow">
<figure class="wp-block-image aligncenter size-full has-custom-border size-large is-style-default"><img loading="lazy" decoding="async" width="533" height="421" src="/fdai-homepage/images/clinipedia-inflammatory-pain-small.gif%22 alt="" class="has-border-color wp-image-453" style="border-color:#222222;border-width:3px;border-radius:13px" /></figure>
</div>