<div class="wp-block-column is-layout-flow wp-container-core-column-is-layout-28 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
<figure class="wp-block-image size-full is-resized"><img loading="lazy" decoding="async" width="1069" height="852" src="/fdai-homepage/images/clinipedia-study-pain-vitimin-b.gif%22 alt="" class="wp-image-482" style="width:260px" /></figure>
</div>