<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="padding-top:0;padding-right:var(--wp--preset--spacing--10);padding-bottom:0;padding-left:var(--wp--preset--spacing--10)">
<figure class="wp-block-image aligncenter size-large is-style-default"><img loading="lazy" decoding="async" width="970" height="1024" src="/fdai-homepage/images/onset-delay-970x1024.png%22 alt="" class="wp-image-432" srcset="/fdai-homepage/images/onset-delay-970x1024.png 970w, /fdai-homepage/images/onset-delay-284x300.png 284w, /fdai-homepage/images/onset-delay-768x811.png 768w, /fdai-homepage/images/onset-delay.png 1135w" sizes="(max-width: 970px) 100vw, 970px" /></figure>
</div>