<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-container-core-column-is-layout-24 wp-block-column-is-layout-flow" style="border-left-color:var(--wp--preset--color--contrast);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
<figure class="wp-block-image size-medium is-resized"><img loading="lazy" decoding="async" width="300" height="198" src="/fdai-homepage/images/autonomous-study-join-300x198.gif%22 alt="" class="wp-image-477" style="width:260px" srcset="/fdai-homepage/images/autonomous-study-join-300x198.gif 300w, /fdai-homepage/images/autonomous-study-join-1024x674.gif 1024w, /fdai-homepage/images/autonomous-study-join-768x506.gif 768w" sizes="(max-width: 300px) 100vw, 300px" /></figure>
</div>