<div class="wp-block-column is-vertically-aligned-top is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:33.33%">
<figure class="wp-block-image size-full has-custom-border"><img loading="lazy" decoding="async" width="640" height="640" src="/fdai-homepage/images/cloe-confused-awkward.gif%22 alt="" class="wp-image-547" style="border-radius:20px;aspect-ratio:2/3;object-fit:contain" /></figure>
</div>