<div class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-14 wp-block-group-is-layout-constrained">
<p>After the FDAi gets a few months of data, it should provide patients with Root Cause Analyses for their conditions, telling them how much different medications, supplements, or foods might improve or worsen their symptoms:</p>
</div>