<div class="wp-block-column is-vertically-aligned-top is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
<figure class="wp-block-image size-large has-custom-border"><img loading="lazy" decoding="async" width="1024" height="1024" src="/fdai-homepage/images/duration-of-action-1024x1024.png%22 alt="" class="wp-image-437" style="border-radius:77px;aspect-ratio:2/3;object-fit:contain" srcset="/fdai-homepage/images/duration-of-action-1024x1024.png 1024w, /fdai-homepage/images/duration-of-action-300x300.png 300w, /fdai-homepage/images/duration-of-action-150x150.png 150w, /fdai-homepage/images/duration-of-action-768x768.png 768w, /fdai-homepage/images/duration-of-action.png 1134w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>
</div>