<div class="wp-site-blocks"><header class="wp-block-template-part">
<div class="wp-block-group header-block has-global-padding is-layout-constrained wp-block-group-is-layout-constrained" style="margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)">
<div class="wp-block-group alignwide logo-nav-wrapper is-content-justification-space-between is-layout-flex wp-container-core-group-is-layout-3 wp-block-group-is-layout-flex">
<div class="wp-block-group is-content-justification-left is-nowrap is-layout-flex wp-container-core-group-is-layout-1 wp-block-group-is-layout-flex"><div class="wp-block-site-logo"><a href="https://fdai.earth/" class="custom-logo-link" rel="home" aria-current="page"><img width="108" height="108" src="/fdai-homepage/images/fdai-square-icon.png" class="custom-logo" alt="FDAi" decoding="async" srcset="/fdai-homepage/images/fdai-square-icon.png 2000w, /fdai-homepage/images/fdai-square-icon-300x300.png 300w, /fdai-homepage/images/fdai-square-icon-1024x1024.png 1024w, /fdai-homepage/images/fdai-square-icon-150x150.png 150w, /fdai-homepage/images/fdai-square-icon-768x768.png 768w, /fdai-homepage/images/fdai-square-icon-1536x1536.png 1536w" sizes="(max-width: 108px) 100vw, 108px" /></a></div>